/* You can add global styles to this file, and also import other style files */
@import "index";
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap");

:root {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 16px;
  --primary-color: #{$primary-color};
}

body {
  width: 38.75rem;
  background-color: var(--primary-color);
  margin: auto;
  padding: 1rem;
}

@media screen and (max-width: 576px) {
  body {
    width: 100%;
  }
}
