<section class="header">
  <a class="header__logo" href="/">
    <img class="header__logo-img" src="assets/icons/icon-white.png" alt="" />
    <h1 class="header__logo-title">Pomofocus</h1>
  </a>

  <div class="header__actions">
    <app-light-button
      icon="assets/icons/graph-white.png"
      text="Report"
    ></app-light-button>
    <app-light-button
      icon="assets/icons/config-white.png"
      text="Setting"
    ></app-light-button>
    <app-light-button
      icon="assets/icons/user-white.png"
      text="Login"
    ></app-light-button>
  </div>
</section>
