<section class="main">
  <app-header class="main__header"></app-header>

  <app-tabs-container
    *ngIf="tabs.length"
    class="main__tabs"
    [tabs]="tabs"
    (selectTab)="selectTab($event)"
  >
    <ng-container *ngTemplateOutlet="selectedTab.templateRef"></ng-container>
  </app-tabs-container>
</section>

<ng-template #pomodoroTemplate>
  <app-timer [minutes]="25"></app-timer>
</ng-template>
<ng-template #shortBreakTemplate>
  <app-timer [minutes]="5"></app-timer>
</ng-template>
<ng-template #longBreakTemplate>
  <app-timer [minutes]="15"></app-timer>
</ng-template>
