$primary-color: rgb(219, 82, 77);
$primary-color-opaque: rgba(219, 82, 77, 0.5);
$primary-color-light: rgb(248, 232, 231);
$secondary-color: rgb(255, 255, 255);
$secondary-color-light: rgb(255, 255, 255, 0.4);
$gray-color-opaque: rgba(128, 128, 128, 0.4);

